.ProjectSlide {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
    height: auto;
  }
  
  .head {
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin: 20px auto 0;
    color: #f2f3f4;
  }
  
  .phead-des {
    font-size: 25px;
    text-align: center;
    color: #b1b2b3;
    margin: 0 auto 50px;
  }
  
  .projects-showCase {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  
  .project-card {
    width: 290px;
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .ptitle {
    font-size: 20px;
    font-weight: 600;
    color: rgb(177, 178, 179);
  }
  
  .card-desc {
    font-weight: 400;
    color: rgba(177, 178, 179, 0.6);
    overflow: hidden;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-clamp: 3;
  }
  
  /* Skill Tags Section */
  .skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .skill-pill {
    font-size: 12px;
    font-weight: 400;
    color: rgb(74, 152, 255);
    background-color: rgba(133, 76, 230, 0.082);
    padding: 2px 8px;
    border-radius: 10px;
  }
  
  .view-btn {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 1000;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px 0 0;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .view-btn:hover {
    background-color: #eaeaea;
  }
  
  .view-btn.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #444;
    color: #ccc;
  }
  
  .coming-soon-img {
    filter: grayscale(100%);
    opacity: 0.8;
    height: 200px;
  }
  .project-card {
    cursor: pointer; /* 👈 Makes entire card clickable-like */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow:
    0 0 25px rgba(74, 152, 255, 0.6),   /* Purple glow */
    0 0 40px rgba(0, 0, 0, 1.8); 
  }